*, *:before, *:after {
  box-sizing: inherit;
}

a{
    text-decoration: none;
    color: #7C4DFF;
}

p {
    margin-top: 0;
}

html {
  box-sizing: border-box;
  height: 100%;
}

body{
    display: flex;
    padding: 0;
    margin: 0;
    background-image: linear-gradient(135deg, #fafafa, #CFD8DC);
    color: #212121;
    font-family: 'Roboto', sans-serif;
    height: 100%;
    overflow-x: hidden;
}

#logout {
  cursor: pointer;
}

.content{
    flex: 3 1;
    overflow: auto;
}
.header{
    padding: 0 20px 20px;
    display: flex;
    align-items: center;
    width: 100%;
    background-color: #455A64;
    border-bottom: 1px solid #BDBDBD;
    flex-wrap: wrap;
}

.header-account {
    display: flex;
    padding: 0 10%;
    flex-wrap: wrap;
    margin-left: 0;
    margin-right: 0;
}

.logo-white {
    display: flex;
    flex: 1 1 20%;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    color: #FFF;
    font-family: 'Julius Sans One', sans-serif;
    font-weight: bold;
}

.purple {
    justify-content: center;
    flex 1 1 100%;
    color: #7C4DFF;
    align-items: stretch;
    margin-right: 0;
}

.logo-white h1 {
    font-size: 1.8em;
}

.button-box {
    display: flex;
    flex: 1 1 50%;
    justify-content: flex-end;
    align-items: center;
    height: 72.5px;
}

.btn {
  text-align: center;
  -webkit-border-radius: 3;
  -moz-border-radius: 3;
  border-radius: 3px;
  -webkit-box-shadow: 1px 2px 5px #212121;
  -moz-box-shadow: 1px 2px 5px #212121;
  box-shadow: 1px 2px 5px #212121;
  border: none;
  color: #ffffff;
  font-size: 14px;
  background: #7C4DFF;
  padding: 8px 18px 8px 18px;
  text-decoration: none;
  transition: font-size 0.2s;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  letter-spacing: 1px;
}

.btn:hover {
  text-decoration: none;
  -webkit-box-shadow: 1px 5px 10px #212121;
  -moz-box-shadow: 1px 5px 10px #212121;
  box-shadow: 1px 5px 10px #212121;
  font-size: 16px;
  cursor: pointer;
}

.description {
    padding: 5% 12% 5% 12%;
}

.description h2 {
  font-size: 2em;
}

.description p {
  font-size: 1em;
}

#videos {
    padding: 4.5% 10%;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    min-width: 100%;
}

.details-box {
    display: flex;
    flex-direction: column;
}

.vid-details {
    flex: 2;
    justify-content: space-between;
    cursor: default;
    color: #575757;
    font-size: .75em;
}

.game {
  margin-top: 4px;
}

.vid-title {
  margin: 0;
  text-align: left;
  color: #7C4DFF;
}

iframe {
  max-width: 100vw;
}

.white {
  color: #fafafa;
}

.vid {
  flex: 1 1 auto;
  padding: 0 20px;
  margin-bottom: 20px;
}
.vid img {
    width: 100%;
}

.burger {
  position:fixed;
  display:block;
  top: 15px;
  right: 20px;
  z-index: 1000;
  cursor: pointer;
}

.user-panel {
  flex: 2 1;
  right: -700px;
  position: absolute;
  width: 80%;
  text-align: center;
  height: 100%;
  overflow-y: auto;
  background-color: #455A64;
  transition-duration: 0.5s;
  transition-timing-function: linear;
  transition-delay: 0.3;
}

.user-box {
    display: flex;
    margin-right: 45px;
}

#clip-submit-title {
  margin-top: 40px;
}

.sub-clip {
  justify-content: center;
}

#library {
  margin-top: 40px;
}

.user {
    display: inline-block;;
    color: #CFD8DC;
    text-align: center;
    margin: 20px auto;
}

.user:hover {
    color: #7C4DFF;
}

.panel-title {
    color: #FFFFFF;
}

.vid-small {
    padding: 0 20px;
    min-width: 25%;
    display: inline-block;
    position: relative;
    margin-bottom: 20px;
    max-width: calc(100vw - 40%);
}

.fa-times-circle {
    color: red;
    top: 0;
    position: absolute;
}

.vid-small img {
    width: 100%;
}

.del {
    cursor: pointer;
}

.width-75 {
    width: 75% !important;
    flex-direction: column;
}

.center {
    justify-content: center;
}

.pad-bottom {
    padding-bottom: 1%;
}

.flex {
    display: flex;
}

.pad-5 {
    padding: 5%;
}

.main-search {
  border: 1px solid #7C4DFF !important;
}

/* Search Bar */
.box{
    display: flex;
    align-items: center;
    flex: 1 1 100%;
    order: 3;
}

.account-box {
    flex: 1 1 100%;
}

.container-4{
  overflow: hidden;
  width: 100%;
  vertical-align: middle;
  white-space: nowrap;
}

.container-4 input.search{
  width: 100%;
  height: 30px;
  outline: none !important;
  background: #FAFAFA;
  border: 1px solid #BDBDBD;
  font-size: 12pt;
  float: left;
  color: #212121;
  padding-left: 15px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}

.container-4 input.search::-webkit-input-placeholder {
   color: #666666;
}

.container-4 input.search:-moz-placeholder { /* Firefox 18- */
   color: #666666;
}

.container-4 input.search::-moz-placeholder {  /* Firefox 19+ */
   color: #666666;
}

.container-4 input.search:-ms-input-placeholder {
   color: #666666;
}

.container-4 button.icon{
  -webkit-border-top-right-radius: 1px;
  -webkit-border-bottom-right-radius: 1px;
  -moz-border-radius-topright: 1px;
  -moz-border-radius-bottomright: 1px;
  border-top-right-radius: 1px;
  border-bottom-right-radius: 1px;

  border: none;
  background: #FAFAFA;
  height: 28px;
  width: 40px;
  margin-top: 1px;
  color: #212121;
  opacity: 0;
  font-size: 10pt;

  -webkit-transition: all .55s ease;
  -moz-transition: all .55s ease;
  -ms-transition: all .55s ease;
  -o-transition: all .55s ease;
  transition: all .55s ease;
}

.container-4:hover button.icon, .container-4:active button.icon, .container-4:focus button.icon{
  outline: none;
  opacity: 1;
  margin-left: -41px;
}

.container-4:hover button.icon:hover{
  background: #7C4DFF;
  cursor: pointer;
}


/* Overlay style */
.overlay-link, .overlay-myclips-link {
    cursor: pointer;
}

.overlay {
    height: 0%;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.9);
    overflow-y: hidden;
    transition: 0.5s;
}

.overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
}

.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}

@media screen and (max-height: 450px) {
  .overlay {overflow-y: auto;}
  .overlay a {font-size: 20px}
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}

/* media queries */

@media (min-width: 750px) {
  .header {
    padding-top: 20px;
  }
  .header-account {
    margin-left: 20px;
    margin-right: 20px;
  }
  .logo-white {
    justify-content: center;
  }

  .purple {
    flex: 0 1 auto;
    margin-right: 20px;
  }

  .account-box {
    flex: 1 1 auto;
  }

  .vid {
    flex: 1 1 50%;
  }
  .box {
    order: 2;
    flex: 1 1 60%;
  }
  .button-box {
    justify-content: center;
    flex: 1 1 20%;
    order: 3;
    padding-left: 20px;
  }
}

@media (min-width: 850px) {
  .user-panel {
    flex: 1 1;
    max-width: 300px;
    position: static;
    background-color: #455A64;
    text-align: center;
    height: 100%;
    overflow-y: auto;
    transition: none;
  }

  .user-box {
    margin-right: 0;
  }

  .burger {
    display: none;
  }
}

@media (min-width: 1200px) {
  .vid {max-width: 33%}
  .user-panel {overflow: auto}
}
